.jumbotron {
  margin-top: 50px;
  background: url(/images/banner.jpg);
  margin-bottom: 50px;
}

.titulo-pagina {
  padding: 20px;
  text-align: center;
}

.card-columns {
  display: inline-block;
}

footer {
  margin-top: 80px;
  margin-bottom: 0px;
  padding: 30px;
  background-color: #4a62af;
  color: #6e9fd1;
}

footer a {
  color: white;
}

a {
  color: rgb(104, 99, 99);
  text-decoration: none;
}

#form-noticias {
  margin-top: 10px;
}

.nav-item {
  color: black;
}

.alert-info {
  margin-bottom: 30px;
}

.card-img-top {
  border-radius: 10px;
}



.card {
  margin: 30px;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px;
  flex: 1 150px;
}

#informacion {
  text-align: center;
  margin: 10px;
}

.display-4 {
  color: white;
  text-align: center;
}

.direc {
  flex: 1 150px;
}

.footer-adress-icon {
  padding-right: 5px;
}

img {
  margin-bottom: 40px;
}