$blue: #4f67b0;

$yellow: #f99b36;

$green: #55e383;

$white: white;

#p1 {
  color: $white;
}

#p2 {
  color: $white;
}

#p3 {
  color: $white;
}

@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin padding($pad) {
  padding: $pad;
}

.jumbotron {
  @include margenes(80px, 50px);
  background: url(/images/banner.jpg);
}

.titulo-pagina {
  @include padding(20px);
  text-align: center;
}

.card-columns {
  display: inline-block;
}

footer {
  @include margenes(80px, 0);

  @include padding(30px);
  background-color: $blue;
  color: #6e9fd1;
}

footer a {
  color: white;
}

a {
  color: rgb(104, 99, 99);
  text-decoration: none;
}

#form-noticias {
  margin-top: 10px;
}

.nav-item {
  color: black;
}

.alert-info {
  margin-bottom: 30px;
}

.card-img-top {
  border-radius: 10px;
}

.card {
  margin: 30px;
  text-decoration: none;
  border-radius: 25px;
  @include padding(10px);
  flex: 1 150px;
}

#informacion {
  text-align: center;

  margin: 10px;
}

.display-4 {
  color: white;
  text-align: center;
}

.direc {
  flex: 1 150px;
}

.footer-adress-icon {
  padding-right: 5px;
}
