@blue: #4f67b0;
@yellow: #f99b36;
@green: #55e383;

.borderR (@border: 0px, @top: 0px, @right: 0px, @bottom: 0px, @left: 0px) {
    border-radius: @border ;

}

#p1 {
    .borderR(15px, 0px, 0px, 0px, 0px);

    background-color: @blue;
    padding: 10px;

}

#p2 {
    .borderR(15px, 0px, 0px, 0px, 0px);

    background-color: @yellow;
    padding: 10px;
}

#p3 {
    .borderR(15px, 0px, 0px, 0px, 0px);

    background-color: @green;
    padding: 10px;
}