#p1 {
  border-radius: 15px;
  background-color: #4f67b0;
  padding: 10px;
}
#p2 {
  border-radius: 15px;
  background-color: #f99b36;
  padding: 10px;
}
#p3 {
  border-radius: 15px;
  background-color: #55e383;
  padding: 10px;
}
