#p1 {
  color: white; }

#p2 {
  color: white; }

#p3 {
  color: white; }

.jumbotron {
  margin-top: 80px;
  margin-bottom: 50px;
  background: url(/images/banner.jpg); }

.titulo-pagina {
  padding: 20px;
  text-align: center; }

.card-columns {
  display: inline-block; }

footer {
  margin-top: 80px;
  margin-bottom: 0;
  padding: 30px;
  background-color: #4f67b0;
  color: #6e9fd1; }

footer a {
  color: white; }

a {
  color: #686363;
  text-decoration: none; }

#form-noticias {
  margin-top: 10px; }

.nav-item {
  color: black; }

.alert-info {
  margin-bottom: 30px; }

.card-img-top {
  border-radius: 10px; }

.card {
  margin: 30px;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px;
  flex: 1 150px; }

#informacion {
  text-align: center;
  margin: 10px; }

.display-4 {
  color: white;
  text-align: center; }

.direc {
  flex: 1 150px; }

.footer-adress-icon {
  padding-right: 5px; }
